.typewriter-text {
    display: inline-block;
    margin-left: 8px;
}

.typing-text {
    color: #FED659;
    text-transform: capitalize;
}

.cursor {
    color: #FED659;
    font-weight: bold;
    animation: blink 1s infinite;
    margin-left: 2px;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}